@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
}

.calculator{
    padding: 50px;
}

.screen{
    width: 250px;
    height: 50px;
    margin: 5px;
    --block-background-color: rgb(235, 210, 250);
}

button.block{
    width: 50px;
    height: 50px;
    margin: 5px;
    --block-background-color: rgb(175, 83, 228);
    color: white;
    display: inline-block;
    font-size: 20px;
}

.block.operator {
    background-color: #ffd9ec;
    --block-background-color: rgb(114, 40, 156);
} 