@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.calculator{
    padding: 50px;
    margin: 5px;
}

.calculatorscreen{
    width: 250px;
    height: 60px;
    line-height: 45px;
    font-size: 30px;
    --block-background-color: rgb(235, 210, 250);
    text-align: right;
    padding-right: 20px;
}

button.block{
    width: 50px;
    height: 50px;
    margin: 5px;
    --block-background-color: rgb(175, 83, 228);
    color: white;
    display: inline-block;
}

.block.operator {
    --block-background-color: rgb(114, 40, 156);
} 

.block.allClear {
    --block-background-color: rgb(114, 40, 156);
} 
